@charset "utf-8";
html{
	font-size: 62.5%;
}
body{
	box-sizing: border-box;
	width: 144rem;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	margin: auto;
	.pageHolder{
		width: 117rem;
		background-color: #ffffff;
		margin: auto;
	}
	.master-header{
		div{
			display: inline-block;
		}
		div img.logo{
			display: inline-block;
		}
		div.navbarText{
			float: right;
			height: 4rem;
		}
		div ul.navbarTop {
			margin-top: 0px;
			padding-left: 50rem;
			height: 0.6rem;
		}
			li{
			padding: 0 1rem 0 1rem;
			display: inline-block;
		}
		div.backRectangle{
			color: #fff;
			width: 98rem;
			height: 9rem;
			background-color: #f6f6f6;
			display: flex;
			justify-content: flex-end;
			.menuBlock{
				margin-left: 0.5rem;
				position: relative;
				height:9rem;
				line-height: 9rem;
				display: flex;
				padding: 0 3rem 0 3rem;
				flex-direction: row;
				justify-content: center;
				//font-size: 1.6rem;
				.fa{
					font-family: 'FontAwesome';
    				src: url('../font/fontawesome-webfont.eot');
					margin-left: 0.2rem;
					line-height: 9rem;
				}
			}
			span{
				margin-top: -0.5rem;
			}
			.red{
					background-color: #f0626e;
				}
				.blue{
					background-color: #05aecc;
				}
		}
	}
	.pageCategories{
		display: flex;
		margin: 1rem 0 1rem 0;
		width: 100%;
		height: 7rem;
		background-color: #05aecc;
		justify-content: space-around;
		ul.navCategories{
			color: #fff;
			list-style-type: none;
			display: flex;
			align-items: center;
			div{
				padding: 0 2rem 0 2rem;
			}
		}
	}
}
