@font-face {
  font-family: 'aparaj';
  src: "../fonts/aparaj.ttf" format("truetype"); }
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  width: 144rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: auto; }
  body .pageHolder {
    width: 117rem;
    background-color: #ffffff;
    margin: auto; }
    body .pageHolder .master-header div {
      display: inline-block; }
    body .pageHolder .master-header div img.logo {
      display: inline-block; }
    body .pageHolder .master-header div.navbarText {
      float: right;
      height: 4rem; }
    body .pageHolder .master-header div ul.navbarTop {
      margin-top: 0px;
      padding-left: 50rem;
      height: 0.6rem; }
    body .pageHolder .master-header li {
      padding: 0 1rem 0 1rem;
      display: inline-block; }
    body .pageHolder .master-header div.backRectangle {
      color: #fff;
      width: 98rem;
      height: 9rem;
      background-color: #f6f6f6;
      display: flex;
      justify-content: flex-end; }
      body .pageHolder .master-header div.backRectangle .menuBlock {
        margin-left: 0.5rem;
        position: relative;
        height: 9rem;
        line-height: 9rem;
        display: flex;
        padding: 0 3rem 0 3rem;
        flex-direction: row;
        justify-content: center; }
        body .pageHolder .master-header div.backRectangle .menuBlock .fa {
          font-family: 'FontAwesome';
          src: url("../font/fontawesome-webfont.eot");
          margin-left: 0.2rem;
          line-height: 9rem; }
      body .pageHolder .master-header div.backRectangle span {
        margin-top: -0.5rem; }
      body .pageHolder .master-header div.backRectangle .red {
        background-color: #f0626e; }
      body .pageHolder .master-header div.backRectangle .blue {
        background-color: #05aecc; }
    body .pageHolder .pageCategories {
      display: flex;
      margin: 1rem 0 1rem 0;
      width: 100%;
      height: 7rem;
      background-color: #05aecc;
      justify-content: space-around; }
      body .pageHolder .pageCategories ul.navCategories {
        color: #fff;
        list-style-type: none;
        display: flex;
        align-items: center; }
        body .pageHolder .pageCategories ul.navCategories div {
          cursor: pointer; }
        body .pageHolder .pageCategories ul.navCategories div.dropdown {
          position: relative;
          padding: 0 2rem 0 2rem;
          height: 7rem;
          line-height: 7rem; }
        body .pageHolder .pageCategories ul.navCategories .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-height: 10rem;
          min-width: 26.5rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
          body .pageHolder .pageCategories ul.navCategories .dropdown-content div.border {
            border-bottom: 1px solid #000; }
          body .pageHolder .pageCategories ul.navCategories .dropdown-content a {
            color: #000;
            padding: 1.2rem 1.6rem;
            text-decoration: none;
            display: block; }
            body .pageHolder .pageCategories ul.navCategories .dropdown-content a img {
              margin: 1px;
              padding: 1px; }
            body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent {
              width: 60%;
              display: inline-block;
              float: right;
              margin: 0px; }
              body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent .button {
                height: 2rem;
                width: 10rem;
                display: flex;
                line-height: 1rem;
                font-size: 1rem;
                background-color: #05aecc; }
                body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent .button span {
                  text-align: center;
                  color: #fff;
                  padding: 5px 20% 0 20%; }
              body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent p {
                font-size: 1.4rem;
                margin: 0px;
                line-height: 2rem;
                position: relative;
                box-sizing: border-box; }
                body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent p span {
                  color: #f27a84; }
        body .pageHolder .pageCategories ul.navCategories .dropdown-content a:hover {
          background-color: #f1f1f1; }
        body .pageHolder .pageCategories ul.navCategories .dropdown:hover .dropdown-content {
          display: block; }
        body .pageHolder .pageCategories ul.navCategories .dropdown:hover {
          background-color: #fff;
          color: #f0626e; }
    body .pageHolder .sliderContent .men {
      display: flex;
      align-items: flex-end;
      float: left;
      width: 67rem;
      height: 57rem;
      background: url("../images/men.jpg") no-repeat; }
      body .pageHolder .sliderContent .men:hover {
        opacity: 0.9; }
      body .pageHolder .sliderContent .men .menText {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 35rem;
        height: 16rem; }
        body .pageHolder .sliderContent .men .menText .menHigh {
          text-align: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 10rem;
          background-color: rgba(92, 80, 104, 0.88);
          justify-content: center;
          text-align: left; }
          body .pageHolder .sliderContent .men .menText .menHigh .menTitle {
            text-decoration: none;
            display: block;
            color: #ef5966;
            font-size: 4.8rem;
            line-height: 4.8rem;
            margin: 0px;
            font-weight: bold;
            font-family: 'aparaj';
            margin-left: 1rem; }
          body .pageHolder .sliderContent .men .menText .menHigh .menLane {
            display: flex;
            font-size: 1.3rem;
            color: #fff;
            font-weight: bold;
            line-height: 1.3rem;
            margin: 0 0 1rem 0;
            margin-left: 1rem; }
        body .pageHolder .sliderContent .men .menText .menLow {
          text-align: center;
          justify-content: center;
          margin-top: 0.2rem;
          display: flex;
          width: 100%;
          height: 4rem;
          background-color: rgba(239, 107, 119, 0.8); }
          body .pageHolder .sliderContent .men .menText .menLow .menLane2 {
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: #fff;
            display: flex;
            margin: auto;
            font-family: 'aparaj'; }
    body .pageHolder .sliderContent .women {
      display: flex;
      align-items: flex-end;
      float: right;
      width: 49.5rem;
      height: 32rem;
      background: url("../images/women.jpg") no-repeat;
      opacity: 1; }
      body .pageHolder .sliderContent .women:hover {
        opacity: 0.8; }
      body .pageHolder .sliderContent .women .womenText {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 9rem;
        background-color: rgba(92, 80, 104, 0.88);
        justify-content: center;
        padding-left: 1rem;
        margin-bottom: 1rem; }
        body .pageHolder .sliderContent .women .womenText .womenTitle {
          text-decoration: none;
          display: block;
          color: #ef5966;
          font-size: 3.5rem;
          line-height: 3.5rem;
          margin: 0px;
          font-weight: bold;
          font-family: 'aparaj'; }
        body .pageHolder .sliderContent .women .womenText .womenLane {
          width: 26rem;
          display: flex;
          font-size: 1.2rem;
          color: #fff;
          line-height: 1.4rem;
          margin: 0 0 1rem 0; }
    body .pageHolder .sliderContent .kids {
      margin-top: 5px;
      display: flex;
      float: right;
      width: 49.5rem;
      height: 24.5rem;
      background: url("../images/kid.jpg") no-repeat;
      opacity: 1;
      justify-content: flex-end; }
      body .pageHolder .sliderContent .kids div {
        display: none; }
      body .pageHolder .sliderContent .kids:hover {
        opacity: 0.9; }
        body .pageHolder .sliderContent .kids:hover .kidsBox {
          display: flex;
          flex-direction: row;
          line-height: 5rem;
          align-items: flex-end;
          padding-bottom: 4rem; }
          body .pageHolder .sliderContent .kids:hover .kidsBox div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            background-color: #000;
            padding: 0.5rem 1rem 0.5rem 1rem; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids1 {
            background-color: #05aecc;
            color: #fff;
            width: 10rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids1 a {
              text-decoration: none;
              color: white; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids2 {
            background-color: #00a1be;
            color: #fff; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids3 {
            background-color: #f0626e;
            color: #fff; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 {
            color: #fff;
            font-size: 1.6rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 .kidSpan1 {
              font-size: 2.4rem;
              padding-left: 0.4rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 .kidSpan2 {
              font-size: 1.8rem; }

/*# sourceMappingURL=style.css.map */
