@charset "utf-8";
$blue: #05aecc;
@font-face{
	font-family: 'aparaj';
	src: '../fonts/aparaj.ttf' format("truetype");
}
html{
	font-size: 62.5%;
}
body{
	box-sizing: border-box;
	width: 144rem;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	margin: auto;
	.pageHolder{
		width: 117rem;
		background-color: #ffffff;
		margin: auto;
		.master-header{
			div{
				display: inline-block;
			}
			div img.logo{
				display: inline-block;
			}
			div.navbarText{
				float: right;
				height: 4rem;
			}
			div ul.navbarTop {
				margin-top: 0px;
				padding-left: 50rem;
				height: 0.6rem;
			}
				li{
				padding: 0 1rem 0 1rem;
				display: inline-block;
			}
			div.backRectangle{
				color: #fff;
				width: 98rem;
				height: 9rem;
				background-color: #f6f6f6;
				display: flex;
				justify-content: flex-end;
				.menuBlock{
					margin-left: 0.5rem;
					position: relative;
					height:9rem;
					line-height: 9rem;
					display: flex;
					padding: 0 3rem 0 3rem;
					flex-direction: row;
					justify-content: center;
					.fa{
						font-family: 'FontAwesome';
	    				src: url('../font/fontawesome-webfont.eot');
						margin-left: 0.2rem;
						line-height: 9rem;
					}
				}
				span{
					margin-top: -0.5rem;
				}
				.red{
						background-color: #f0626e;
					}
					.blue{
						background-color: #05aecc;
					}
			}
		}
		.pageCategories{
			display: flex;
			margin: 1rem 0 1rem 0;
			width: 100%;
			height: 7rem;
			background-color: #05aecc;
			justify-content: space-around;
			ul.navCategories{
				color: #fff;
				list-style-type: none;
				display: flex;
				align-items: center;
				div{
					cursor:pointer;
				}
				div.dropdown {
		    		position: relative;
					padding: 0 2rem 0 2rem;
					height: 7rem;
					line-height: 7rem;
				}
				.dropdown-content {
		    		display: none;
		    		position: absolute;
		    		background-color: #f9f9f9;
		    		min-height: 10rem;
		    		min-width: 26.5rem;
		    		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		    		z-index: 1;
					div.border{
						border-bottom: 1px solid #000;
					}
		    		a {
					    color: #000;
					    padding: 1.2rem 1.6rem;
					    text-decoration: none;
					    display: block;
					    img{
					    	margin: 1px;
					    	padding: 1px;
					    }
					    .dropContent{
					    	width: 60%;
					    	display: inline-block;
					    	float: right;
					    	margin: 0px;
					    	.button{
					    		height: 2rem;
					    		width: 10rem;
					    		display: flex;
					    		line-height: 1rem;
					    		font-size: 1rem;
					    		background-color: $blue;	
								span{
									text-align: center;
									color: #fff;
									padding: 5px 20% 0 20%;

								}
					    	}
					    p{
					    	font-size: 1.4rem;
							margin: 0px;
					    	line-height: 2rem;
					    	position: relative;
					    	box-sizing: border-box;
					    	span{
					    		color: #f27a84;
					    	}
					    }
					    }
					}
				}
				.dropdown-content a:hover {
					background-color: #f1f1f1

				}
				.dropdown:hover .dropdown-content {
				    display: block;
				}
				.dropdown:hover{
					background-color: #fff;
					color: #f0626e;
				}
			}
		}
	.sliderContent{
		.men{
			display: flex;
			align-items: flex-end;
			float: left;
			width: 67rem;
			height: 57rem;
			background: url('../images/men.jpg') no-repeat;
			&:hover{
				opacity: 0.9;
			}
			.menText{
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				width: 35rem;
				height: 16rem;
				.menHigh{
					text-align: center;
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 10rem;
					background-color: rgba(92, 80, 104, 0.88);
					justify-content: center;
					text-align: left;
					.menTitle{
						text-decoration: none;
						display: block;
						color: #ef5966;
						font-size: 4.8rem;
						line-height: 4.8rem;
						margin: 0px;
						font-weight: bold;
						font-family: 'aparaj';
						margin-left: 1rem;
					}
					.menLane{
						display: flex;
						font-size: 1.3rem;
						color: #fff;
						font-weight: bold;
						line-height: 1.3rem;
						margin: 0 0 1rem 0;
						margin-left: 1rem;
					}
				}
				.menLow{
					text-align: center;
					justify-content: center;
					margin-top: 0.2rem;
					display: flex;
					width: 100%;
					height: 4rem;
					background-color: rgba(239, 107, 119, 0.8);
					.menLane2{
						font-size: 1.6rem;
						line-height: 1.6rem;
						color: #fff;
						display: flex;
						margin: auto;
						font-family: 'aparaj';
					}
				}
			}
		}
		.women{
			display: flex;
			align-items: flex-end;
			float: right;
			width: 49.5rem;
			height: 32rem;
			background: url('../images/women.jpg') no-repeat;
			opacity: 1;
			&:hover{
				opacity: 0.8;
			}
			.womenText{
					text-align: left;
					display: flex;
					flex-direction: column;
					width: 30rem;
					height: 9rem;
					background-color: rgba(92, 80, 104, 0.88);
					justify-content: center;
					padding-left: 1rem;
					margin-bottom: 1rem;
					.womenTitle{
						text-decoration: none;
						display: block;
						color: #ef5966;
						font-size: 3.5rem;
						line-height: 3.5rem;
						margin: 0px;
						font-weight: bold;
						font-family: 'aparaj';
					}
					.womenLane{
						width: 26rem;
						display: flex;
						font-size: 1.2rem;
						color: #fff;
						line-height: 1.4rem;
						margin: 0 0 1rem 0;
					}
				}
		}
		.kids{
			margin-top: 5px;
			display: flex;
			float: right;
			width: 49.5rem;
			height: 24.5rem;
			background: url('../images/kid.jpg') no-repeat;
			opacity: 1;
			justify-content: flex-end;
			div{
				display: none;
			}
			&:hover{
				opacity: 0.9;
			
			.kidsBox{
				display: flex;
				flex-direction: row;
				line-height: 5rem;
				align-items: flex-end;				
				padding-bottom: 4rem;
				div{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 5rem;
					background-color: #000;
					padding: 0.5rem 1rem 0.5rem 1rem
				}
					.kids1{
						background-color: #05aecc;
						color: #fff;
						width: 10rem;
						a{
						text-decoration: none;
						color: white;
					}
					}
					.kids2{
						background-color: #00a1be;
						color: #fff;
					}
					.kids3{
						background-color: #f0626e;
						color: #fff;
					}
					.kids4{
						color: #fff;
						font-size: 1.6rem;
						.kidSpan1{
							font-size: 2.4rem;
							padding-left: 0.4rem;
						}
						.kidSpan2{
							font-size: 1.8rem;
						}
					}
				}
				
			
		}
		}

	}
	}
}
