@charset "utf-8";
body{
	box-sizing: border-box;
	width: 1440px;
	.pageHolder{
		width: 1170px;
		background-color: #ffffff;
		margin: auto;
	}
	.master-header{
		div{
			display: inline-block;
		}
		div img.logo{
			display: inline-block;
		}
		div.navbarText{
			float: right;
			height: 40px;
		}
		div ul.navbarTop {
			margin-top: 0px;
			padding-left: 500px;
			height: 6px;
		}
			li{
			padding: 0 10px 0 10px;
			display: inline-block;
		}
		div.backRectangle{
			color: #fff;
			width: 980px;
			height: 90px;
			background-color: #f6f6f6;
			display: flex;
			justify-content: flex-end;
			.menuBlock{
				margin-left: 5px;
				position: relative;
				height:90px;
				line-height: 90px;
				display: flex;
				padding: 0 30px 0 30px;
				flex-direction: row;
				justify-content: center;
				font-size: 16px;
				i{
					margin-left: 2px;
					line-height: 90px;
				}
			}
			span{
				margin-top: -5px;
			}
			.red{
					background-color: #f0626e;
				}
				.blue{
					background-color: #05aecc;
				}
		}
	}
}
