@font-face {
  font-family: 'aparaj';
  src: "../fonts/aparaj.ttf" format("truetype"); }
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  width: 144rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: auto; }
  body .pageHolder {
    width: 117rem;
    background-color: #ffffff;
    margin: auto; }
    body .pageHolder .master-header div {
      display: inline-block; }
    body .pageHolder .master-header div img.logo {
      display: inline-block; }
    body .pageHolder .master-header div.navbarText {
      float: right;
      height: 4rem; }
    body .pageHolder .master-header div ul.navbarTop {
      margin-top: 0px;
      padding-left: 50rem;
      height: 0.6rem; }
    body .pageHolder .master-header li {
      padding: 0 1rem 0 1rem;
      display: inline-block; }
    body .pageHolder .master-header div.backRectangle {
      color: #fff;
      width: 98rem;
      height: 9rem;
      background-color: #f6f6f6;
      display: flex;
      justify-content: flex-end; }
      body .pageHolder .master-header div.backRectangle .menuBlock {
        margin-left: 0.5rem;
        position: relative;
        height: 9rem;
        line-height: 9rem;
        display: flex;
        padding: 0 3rem 0 3rem;
        flex-direction: row;
        justify-content: center; }
        body .pageHolder .master-header div.backRectangle .menuBlock .fa {
          font-family: 'FontAwesome';
          src: url("../font/fontawesome-webfont.eot");
          margin-left: 0.2rem;
          line-height: 9rem; }
      body .pageHolder .master-header div.backRectangle span {
        margin-top: -0.5rem; }
      body .pageHolder .master-header div.backRectangle .red {
        background-color: #f0626e; }
      body .pageHolder .master-header div.backRectangle .blue {
        background-color: #05aecc; }
    body .pageHolder .pageCategories {
      display: flex;
      margin: 1rem 0 1rem 0;
      width: 100%;
      height: 7rem;
      background-color: #05aecc;
      justify-content: space-around; }
      body .pageHolder .pageCategories ul.navCategories {
        color: #fff;
        list-style-type: none;
        display: flex;
        align-items: center; }
        body .pageHolder .pageCategories ul.navCategories div {
          cursor: pointer; }
        body .pageHolder .pageCategories ul.navCategories div.dropdown {
          position: relative;
          padding: 0 2rem 0 2rem;
          height: 7rem;
          line-height: 7rem; }
        body .pageHolder .pageCategories ul.navCategories .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-height: 10rem;
          min-width: 26.5rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
          body .pageHolder .pageCategories ul.navCategories .dropdown-content div.border {
            border-bottom: 1px solid #000; }
          body .pageHolder .pageCategories ul.navCategories .dropdown-content a {
            color: #000;
            padding: 1.2rem 1.6rem;
            text-decoration: none;
            display: block; }
            body .pageHolder .pageCategories ul.navCategories .dropdown-content a img {
              margin: 1px;
              padding: 1px; }
            body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent {
              width: 60%;
              display: inline-block;
              float: right;
              margin: 0px; }
              body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent .button {
                height: 2rem;
                width: 10rem;
                display: flex;
                line-height: 1rem;
                font-size: 1rem;
                background-color: #05aecc; }
                body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent .button span {
                  text-align: center;
                  color: #fff;
                  padding: 5px 20% 0 20%; }
              body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent p {
                font-size: 1.4rem;
                margin: 0px;
                line-height: 2rem;
                position: relative;
                box-sizing: border-box; }
                body .pageHolder .pageCategories ul.navCategories .dropdown-content a .dropContent p span {
                  color: #f27a84; }
        body .pageHolder .pageCategories ul.navCategories .dropdown-content a:hover {
          background-color: #f1f1f1; }
        body .pageHolder .pageCategories ul.navCategories .dropdown:hover .dropdown-content {
          display: block; }
        body .pageHolder .pageCategories ul.navCategories .dropdown:hover {
          background-color: #fff;
          color: #f0626e; }
    body .pageHolder .sliderContent .men {
      display: flex;
      align-items: flex-end;
      float: left;
      width: 67rem;
      height: 57rem;
      background: url("../images/men.jpg") no-repeat; }
      body .pageHolder .sliderContent .men:hover {
        opacity: 0.9; }
      body .pageHolder .sliderContent .men .menText {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 35rem;
        height: 16rem; }
        body .pageHolder .sliderContent .men .menText .menHigh {
          text-align: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 10rem;
          background-color: rgba(92, 80, 104, 0.88);
          justify-content: center;
          text-align: left; }
          body .pageHolder .sliderContent .men .menText .menHigh .menTitle {
            text-decoration: none;
            display: block;
            color: #ef5966;
            font-size: 4.8rem;
            line-height: 4.8rem;
            margin: 0px;
            font-weight: bold;
            font-family: 'aparaj';
            margin-left: 1rem; }
          body .pageHolder .sliderContent .men .menText .menHigh .menLane {
            display: flex;
            font-size: 1.3rem;
            color: #fff;
            font-weight: bold;
            line-height: 1.3rem;
            margin: 0 0 1rem 0;
            margin-left: 1rem; }
        body .pageHolder .sliderContent .men .menText .menLow {
          text-align: center;
          justify-content: center;
          margin-top: 0.2rem;
          display: flex;
          width: 100%;
          height: 4rem;
          background-color: rgba(239, 107, 119, 0.8); }
          body .pageHolder .sliderContent .men .menText .menLow .menLane2 {
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: #fff;
            display: flex;
            margin: auto;
            font-family: 'aparaj'; }
    body .pageHolder .sliderContent .women {
      display: flex;
      align-items: flex-end;
      float: right;
      width: 49.5rem;
      height: 32rem;
      background: url("../images/women.jpg") no-repeat;
      opacity: 1; }
      body .pageHolder .sliderContent .women:hover {
        opacity: 0.8; }
      body .pageHolder .sliderContent .women .womenText {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 9rem;
        background-color: rgba(92, 80, 104, 0.88);
        justify-content: center;
        padding-left: 1rem;
        margin-bottom: 1rem; }
        body .pageHolder .sliderContent .women .womenText .womenTitle {
          text-decoration: none;
          display: block;
          color: #ef5966;
          font-size: 3.5rem;
          line-height: 3.5rem;
          margin: 0px;
          font-weight: bold;
          font-family: 'aparaj'; }
        body .pageHolder .sliderContent .women .womenText .womenLane {
          width: 26rem;
          display: flex;
          font-size: 1.2rem;
          color: #fff;
          line-height: 1.4rem;
          margin: 0 0 1rem 0; }
    body .pageHolder .sliderContent .kids {
      margin-top: 5px;
      display: flex;
      float: right;
      width: 49.5rem;
      height: 24.5rem;
      background: url("../images/kid.jpg") no-repeat;
      opacity: 1;
      justify-content: flex-end; }
      body .pageHolder .sliderContent .kids div {
        display: none; }
      body .pageHolder .sliderContent .kids:hover {
        opacity: 0.9; }
        body .pageHolder .sliderContent .kids:hover .kidsBox {
          display: flex;
          flex-direction: row;
          line-height: 5rem;
          align-items: flex-end;
          padding-bottom: 4rem; }
          body .pageHolder .sliderContent .kids:hover .kidsBox div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            background-color: #000;
            padding: 0.5rem 1rem 0.5rem 1rem; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids1 {
            background-color: #05aecc;
            color: #fff;
            width: 10rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids1 a {
              text-decoration: none;
              color: white; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids2 {
            background-color: #00a1be;
            color: #fff; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids3 {
            background-color: #f0626e;
            color: #fff; }
          body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 {
            color: #fff;
            font-size: 1.6rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 .kidSpan1 {
              font-size: 2.4rem;
              padding-left: 0.4rem; }
            body .pageHolder .sliderContent .kids:hover .kidsBox .kids4 .kidSpan2 {
              font-size: 1.8rem; }
    body .pageHolder .sliderContent .searchBar {
      display: flex;
      align-items: center;
      float: left;
      width: 67rem;
      height: 17rem;
      background-color: #f0626e;
      margin: 5px 5px 5px 0; }
      body .pageHolder .sliderContent .searchBar .searchArea {
        height: 6rem;
        width: 40rem;
        margin-left: 4rem; }
      body .pageHolder .sliderContent .searchBar .fa {
        font-size: 7rem;
        color: #fff;
        padding-left: 2rem; }
    body .pageHolder .sliderContent .jewelry {
      display: flex;
      float: right;
      height: 50.5rem;
      width: 49.5rem;
      background: url("../images/jewelry.jpg") no-repeat;
      margin: 5px 0 5px 0; }
      body .pageHolder .sliderContent .jewelry:hover {
        opacity: 0.9; }
      body .pageHolder .sliderContent .jewelry .jewelryBox {
        display: flex;
        background-color: rgba(92, 80, 104, 0.88);
        position: absolute;
        width: 40rem;
        height: 9rem;
        justify-content: flex-start;
        margin-left: 24.8rem;
        margin-top: 26rem;
        align-items: center; }
        body .pageHolder .sliderContent .jewelry .jewelryBox p {
          font-family: 'aparaj';
          font-size: 5rem;
          color: #fff;
          line-height: 5rem;
          margin: 0;
          padding-left: 3rem; }
        body .pageHolder .sliderContent .jewelry .jewelryBox .triangle {
          width: 1rem;
          height: 1.5rem;
          background-color: #ee6470;
          transform: rotate(45deg);
          margin-top: -9.4rem;
          margin-left: -9.1rem; }
        body .pageHolder .sliderContent .jewelry .jewelryBox .square {
          z-index: 1;
          width: 2rem;
          height: 1rem;
          background-color: #5c5068;
          margin-top: -8rem;
          margin-left: -2.4rem; }
        body .pageHolder .sliderContent .jewelry .jewelryBox .jewelryRedBox {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          height: 10rem;
          width: 8.5rem;
          margin-bottom: 1rem;
          margin-left: 3rem;
          background-color: #ee6470; }
          body .pageHolder .sliderContent .jewelry .jewelryBox .jewelryRedBox .fa {
            display: flex;
            padding: 0.3rem;
            color: #fff;
            font-size: 7rem; }
      body .pageHolder .sliderContent .jewelry .vertical-text {
        transform: rotate(270deg); }
    body .pageHolder .sliderContent .crafts {
      display: flex;
      float: left;
      width: 67rem;
      height: 33rem;
      background: url("../images/crafts.jpg") no-repeat;
      justify-content: flex-end; }
      body .pageHolder .sliderContent .crafts:hover {
        opacity: 0.9; }
      body .pageHolder .sliderContent .crafts .craftsBox {
        display: flex;
        flex-direction: row;
        line-height: 4rem;
        align-items: flex-end; }
        body .pageHolder .sliderContent .crafts .craftsBox div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4rem;
          background-color: #434343;
          padding: 0.5rem 1rem 0.5rem 1rem; }
        body .pageHolder .sliderContent .crafts .craftsBox .crafts1 {
          background-color: rgba(92, 80, 104, 0.88);
          width: 20rem; }
          body .pageHolder .sliderContent .crafts .craftsBox .crafts1 a {
            text-decoration: none;
            color: #fff;
            font-size: 3rem; }
        body .pageHolder .sliderContent .crafts .craftsBox .crafts2 {
          background-color: #00a1be;
          color: #fff; }
        body .pageHolder .sliderContent .crafts .craftsBox .crafts3 {
          background-color: #f0626e; }
          body .pageHolder .sliderContent .crafts .craftsBox .crafts3 a {
            color: #fff;
            text-decoration: none; }
          body .pageHolder .sliderContent .crafts .craftsBox .crafts3 .fa {
            margin-top: 0.5rem; }
        body .pageHolder .sliderContent .crafts .craftsBox .tooltip {
          position: relative;
          display: inline-block; }
          body .pageHolder .sliderContent .crafts .craftsBox .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #fff;
            color: #000;
            text-align: center;
            border-radius: 6px;
            border: 1px solid #f0626e;
            padding: 5px 0;
            position: absolute;
            z-index: 2;
            bottom: 110%;
            left: 50%;
            margin-left: -60px; }
            body .pageHolder .sliderContent .crafts .craftsBox .tooltip .tooltiptext:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #f0626e transparent transparent transparent; }
          body .pageHolder .sliderContent .crafts .craftsBox .tooltip:hover .tooltiptext {
            visibility: visible; }
        body .pageHolder .sliderContent .crafts .craftsBox .crafts4 {
          color: #fff;
          font-size: 1.6rem; }
          body .pageHolder .sliderContent .crafts .craftsBox .crafts4 .craftsSpan1 {
            font-size: 2.4rem;
            padding-left: 0.4rem; }
          body .pageHolder .sliderContent .crafts .craftsBox .crafts4 .craftsSpan2 {
            font-size: 1.8rem; }
    body .pageHolder .titleBlock {
      width: 100%;
      height: 9rem;
      background-color: #fff;
      clear: both;
      border-bottom: 1px solid #b9b9b9; }
      body .pageHolder .titleBlock .titleProducts {
        width: 20rem;
        height: 3rem;
        line-height: 3rem;
        display: flex;
        float: left;
        margin: 5.5rem 0 0 3.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #f0626e;
        font-size: 3rem;
        color: #00a1be; }
      body .pageHolder .titleBlock .navButtons {
        margin-top: 2rem;
        display: flex;
        float: right;
        width: 14rem;
        height: 7rem;
        align-items: flex-end; }
        body .pageHolder .titleBlock .navButtons .navBox {
          align-items: center;
          justify-content: center;
          display: flex;
          width: 7rem;
          height: 7rem;
          background-color: #3c3c3c; }
          body .pageHolder .titleBlock .navButtons .navBox:hover {
            background-color: #05aecc; }
        body .pageHolder .titleBlock .navButtons a {
          text-decoration: none;
          color: #fff; }
    body .pageHolder .offertBar {
      display: flex;
      width: 100%;
      height: 20rem;
      justify-content: space-between;
      margin-top: 2rem; }
      body .pageHolder .offertBar .offertBox {
        display: flex;
        width: 37rem;
        height: 20rem; }
      body .pageHolder .offertBar .boxOne {
        background: url("../images/newItem1.jpg") no-repeat; }
        body .pageHolder .offertBar .boxOne:hover {
          opacity: 0.9; }
      body .pageHolder .offertBar .boxTwo {
        background: url("../images/newItem2.jpg") no-repeat; }
        body .pageHolder .offertBar .boxTwo div {
          display: none; }
        body .pageHolder .offertBar .boxTwo:hover {
          opacity: 0.9; }
          body .pageHolder .offertBar .boxTwo:hover .boxTwoInside {
            display: flex;
            flex-direction: row;
            line-height: 5rem;
            align-items: center;
            margin: auto; }
            body .pageHolder .offertBar .boxTwo:hover .boxTwoInside div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 5rem;
              background-color: #000;
              padding: 0.5rem 1rem 0.5rem 1rem; }
            body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two1 {
              background-color: #05aecc;
              color: #fff;
              width: 10rem; }
              body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two1 a {
                text-decoration: none;
                color: white; }
            body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two2 {
              background-color: #00a1be;
              color: #fff; }
            body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two3 {
              background-color: #f0626e;
              color: #fff; }
            body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two4 {
              color: #fff;
              font-size: 1.6rem; }
              body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two4 .twoSpan1 {
                font-size: 2.4rem;
                padding-left: 0.4rem; }
              body .pageHolder .offertBar .boxTwo:hover .boxTwoInside .two4 .twoSpan2 {
                font-size: 1.8rem; }
      body .pageHolder .offertBar .boxThree {
        background: url("../images/newItem3.jpg") no-repeat; }
        body .pageHolder .offertBar .boxThree:hover {
          opacity: 0.9; }
    body .pageHolder .titleBlock2 {
      width: 100%;
      height: 9rem;
      background-color: #fff;
      clear: both;
      border-bottom: 1px solid #b9b9b9; }
      body .pageHolder .titleBlock2 .titleProducts2 {
        width: 25rem;
        height: 3rem;
        line-height: 3rem;
        display: flex;
        float: left;
        margin: 5.5rem 0 0 3.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #f0626e;
        font-size: 3rem;
        color: #00a1be; }
      body .pageHolder .titleBlock2 .navButtons2 {
        margin-top: 2rem;
        display: flex;
        float: right;
        width: 14rem;
        height: 7rem;
        align-items: flex-end; }
        body .pageHolder .titleBlock2 .navButtons2 .navBox2 {
          align-items: center;
          justify-content: center;
          display: flex;
          width: 7rem;
          height: 7rem;
          background-color: #3c3c3c; }
          body .pageHolder .titleBlock2 .navButtons2 .navBox2:hover {
            background-color: #f0626e; }
        body .pageHolder .titleBlock2 .navButtons2 a {
          text-decoration: none;
          color: #fff; }
    body .pageHolder .featuredBar {
      display: flex;
      width: 100%;
      height: 40rem;
      justify-content: space-between;
      margin-top: 2rem; }
      body .pageHolder .featuredBar .featuredBox {
        display: flex;
        width: 26.5rem;
        height: 40rem;
        justify-content: center;
        border: 1px solid #dddddd; }
      body .pageHolder .featuredBar .box1 {
        background: url("../images/featured1.jpg") no-repeat;
        display: flex; }
        body .pageHolder .featuredBar .box1 .promo {
          position: absolute;
          width: 7.6rem;
          height: 3.5rem;
          display: flex;
          margin: 2rem 0 0 -9.5rem;
          background-color: #f0626e;
          line-height: 3.5rem;
          justify-content: center; }
        body .pageHolder .featuredBar .box1 .featuredText {
          flex-direction: column;
          align-items: center;
          margin-top: 29rem;
          background-color: #fff;
          height: 11rem;
          width: 27rem;
          display: flex; }
          body .pageHolder .featuredBar .box1 .featuredText .featuredUpper {
            height: 5rem;
            width: 100%;
            text-align: center;
            line-height: 2rem;
            margin: 1rem 0 -1rem 0; }
            body .pageHolder .featuredBar .box1 .featuredText .featuredUpper a {
              text-decoration: none;
              color: #000;
              font-size: 1.8rem; }
            body .pageHolder .featuredBar .box1 .featuredText .featuredUpper p {
              font-size: 1.3rem;
              color: #f0626e;
              margin: 0; }
          body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar {
            display: flex;
            flex-direction: row;
            height: 6rem;
            margin-top: 1.7rem;
            width: 100%; }
            body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar div {
              display: flex;
              border: 1px solid #dddddd;
              justify-content: center;
              width: 20%;
              border-bottom: none; }
              body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar div .fa {
                padding-top: 1.5rem; }
            body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar div:nth-child(odd) {
              border-left: none;
              border-right: none; }
            body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar .featuredPrice {
              width: 40%;
              padding-top: 1.5rem;
              background-color: #f0626e;
              border-right: none; }
              body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar .featuredPrice .dolar {
                margin-left: 2.5rem; }
              body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan {
                font-size: 2.4rem;
                padding-left: 0.4rem;
                width: 10rem; }
              body .pageHolder .featuredBar .box1 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan2 {
                font-size: 1.8rem; }
        body .pageHolder .featuredBar .box1:hover {
          opacity: 0.9; }
      body .pageHolder .featuredBar .box2 {
        background: url("../images/featured2.jpg") no-repeat;
        display: flex; }
        body .pageHolder .featuredBar .box2 .featuredText {
          flex-direction: column;
          align-items: center;
          margin-top: 29rem;
          background-color: #fff;
          height: 11rem;
          width: 27rem;
          display: flex; }
          body .pageHolder .featuredBar .box2 .featuredText .featuredUpper {
            height: 5rem;
            width: 100%;
            text-align: center;
            line-height: 2rem;
            margin: 1rem 0 -1rem 0; }
            body .pageHolder .featuredBar .box2 .featuredText .featuredUpper a {
              text-decoration: none;
              color: #000;
              font-size: 1.8rem; }
            body .pageHolder .featuredBar .box2 .featuredText .featuredUpper p {
              font-size: 1.3rem;
              color: #f0626e;
              margin: 0; }
          body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar {
            display: flex;
            flex-direction: row;
            height: 6rem;
            margin-top: 1.7rem;
            width: 100%; }
            body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar div {
              display: flex;
              border: 1px solid #dddddd;
              justify-content: center;
              width: 20%;
              border-bottom: none; }
              body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar div .fa {
                padding-top: 1.5rem; }
            body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar div:nth-child(odd) {
              border-left: none;
              border-right: none; }
            body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar .featuredPrice {
              width: 40%;
              padding-top: 1.5rem;
              background-color: #f0626e;
              border-right: none; }
              body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar .featuredPrice .dolar {
                margin-left: 2.5rem; }
              body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan {
                font-size: 2.4rem;
                padding-left: 0.4rem;
                width: 10rem; }
              body .pageHolder .featuredBar .box2 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan2 {
                font-size: 1.8rem; }
        body .pageHolder .featuredBar .box2:hover {
          opacity: 0.9; }
      body .pageHolder .featuredBar .box3 {
        background: url("../images/featured3.jpg") no-repeat;
        display: flex; }
        body .pageHolder .featuredBar .box3 .promo {
          position: absolute;
          width: 7.6rem;
          height: 3.5rem;
          display: flex;
          margin: 2rem 0 0 -9.5rem;
          background-color: #05aecc;
          line-height: 3.5rem;
          justify-content: center; }
        body .pageHolder .featuredBar .box3 .featuredText {
          flex-direction: column;
          align-items: center;
          margin-top: 29rem;
          background-color: #fff;
          height: 11rem;
          width: 27rem;
          display: flex; }
          body .pageHolder .featuredBar .box3 .featuredText .featuredUpper {
            height: 5rem;
            width: 100%;
            text-align: center;
            line-height: 2rem;
            margin: 1rem 0 -1rem 0; }
            body .pageHolder .featuredBar .box3 .featuredText .featuredUpper a {
              text-decoration: none;
              color: #000;
              font-size: 1.8rem; }
            body .pageHolder .featuredBar .box3 .featuredText .featuredUpper p {
              font-size: 1.3rem;
              color: #05aecc;
              margin: 0; }
          body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar {
            display: flex;
            flex-direction: row;
            height: 6rem;
            margin-top: 1.7rem;
            width: 100%; }
            body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar div {
              display: flex;
              border: 1px solid #dddddd;
              justify-content: center;
              width: 20%;
              border-bottom: none; }
              body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar div .fa {
                padding-top: 1.5rem; }
            body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar div:nth-child(odd) {
              border-left: none;
              border-right: none; }
            body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar .featuredPrice {
              width: 40%;
              padding-top: 1.5rem;
              background-color: #05aecc;
              border-right: none; }
              body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar .featuredPrice .dolar {
                margin-left: 2.5rem; }
              body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan {
                font-size: 2.4rem;
                padding-left: 0.4rem;
                width: 10rem; }
              body .pageHolder .featuredBar .box3 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan2 {
                font-size: 1.8rem; }
        body .pageHolder .featuredBar .box3:hover {
          opacity: 0.9; }
      body .pageHolder .featuredBar .box4 {
        background: url("../images/featured4.jpg") no-repeat;
        display: flex; }
        body .pageHolder .featuredBar .box4 .promo {
          position: absolute;
          width: 8rem;
          height: 3.5rem;
          display: flex;
          margin: 2rem 0 0 -9rem;
          padding-left: 1rem;
          background-color: #f0626e;
          line-height: 3.5rem; }
        body .pageHolder .featuredBar .box4 .featuredText {
          flex-direction: column;
          align-items: center;
          margin-top: 29rem;
          background-color: #fff;
          height: 11rem;
          width: 27rem;
          display: flex; }
          body .pageHolder .featuredBar .box4 .featuredText .featuredUpper {
            height: 5rem;
            width: 100%;
            text-align: center;
            line-height: 2rem;
            margin: 1rem 0 -1rem 0; }
            body .pageHolder .featuredBar .box4 .featuredText .featuredUpper a {
              text-decoration: none;
              color: #000;
              font-size: 1.8rem; }
            body .pageHolder .featuredBar .box4 .featuredText .featuredUpper p {
              font-size: 1.3rem;
              color: #f0626e;
              margin: 0; }
          body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar {
            display: flex;
            flex-direction: row;
            height: 6rem;
            margin-top: 1.7rem;
            width: 100%; }
            body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar div {
              display: flex;
              border: 1px solid #dddddd;
              justify-content: center;
              width: 20%;
              border-bottom: none; }
              body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar div .fa {
                padding-top: 1.5rem; }
            body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar div:nth-child(odd) {
              border-left: none;
              border-right: none; }
            body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar .featuredPrice {
              width: 40%;
              padding-top: 1.5rem;
              background-color: #f0626e;
              border-right: none; }
              body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar .featuredPrice .dolar {
                margin-left: 2.5rem; }
              body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan {
                font-size: 2.4rem;
                padding-left: 0.4rem;
                width: 10rem; }
              body .pageHolder .featuredBar .box4 .featuredText .featuredBottomBar .featuredPrice .featuredTextSpan2 {
                font-size: 1.8rem; }
        body .pageHolder .featuredBar .box4:hover {
          opacity: 0.9; }
    body .pageHolder .whoWeAre {
      width: 100%;
      height: 56rem;
      background-color: #fff;
      border-bottom: 1px solid #b9b9b9; }
      body .pageHolder .whoWeAre .titleProducts3 {
        width: 100%;
        height: 3.5rem;
        line-height: 3rem;
        display: flex;
        margin: 2.5rem 0 0 0;
        font-size: 3rem;
        color: #00a1be;
        border-bottom: 1px solid #b9b9b9; }
        body .pageHolder .whoWeAre .titleProducts3 p {
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #f0626e;
          width: 20rem;
          height: 3rem;
          margin: 0 0 0 3.5rem; }
      body .pageHolder .whoWeAre .text {
        margin: 0 3.5rem 0 3.5rem; }
      body .pageHolder .whoWeAre .row {
        width: 100%;
        height: 3rem;
        clear: both; }
      body .pageHolder .whoWeAre .steps {
        display: flex; }
        body .pageHolder .whoWeAre .steps div {
          display: flex;
          width: 36.9rem;
          height: 23.2rem; }
        body .pageHolder .whoWeAre .steps div:nth-child(even) {
          margin-right: 3rem;
          margin-left: 3rem; }
      body .pageHolder .whoWeAre a {
        text-decoration: none; }
        body .pageHolder .whoWeAre a .register {
          margin: auto;
          clear: both;
          font-size: 2.7rem;
          width: 65rem;
          height: 7rem;
          background-color: #05aecc;
          color: #fff;
          line-height: 7rem;
          text-align: center; }
    body .pageHolder .bottomContent {
      display: flex;
      height: 43rem;
      border-bottom: 1px solid #b9b9b9; }
      body .pageHolder .bottomContent div {
        font-size: 2.6rem; }
        body .pageHolder .bottomContent div p {
          margin-bottom: 4rem; }
        body .pageHolder .bottomContent div ul {
          list-style: none;
          padding: 0; }
          body .pageHolder .bottomContent div ul a {
            text-decoration: none; }
            body .pageHolder .bottomContent div ul a li {
              font-size: 1.6rem;
              line-height: 3rem;
              color: #676767; }
      body .pageHolder .bottomContent .col1 {
        margin-left: 3.5rem;
        width: 25%; }
      body .pageHolder .bottomContent .col2 {
        width: 20%; }
      body .pageHolder .bottomContent .col3 {
        width: 22%; }
      body .pageHolder .bottomContent .col4 {
        width: 33%; }
        body .pageHolder .bottomContent .col4 .bars div {
          width: 38rem;
          font-size: 1.4rem;
          text-align: center;
          height: 8rem;
          line-height: 8rem;
          border: 1px solid #dedede;
          box-sizing: border-box; }
        body .pageHolder .bottomContent .col4 .bars a {
          text-decoration: none; }
          body .pageHolder .bottomContent .col4 .bars a div {
            height: 6rem;
            line-height: 6rem;
            background-color: #05aecc;
            color: #fff; }
        body .pageHolder .bottomContent .col4 .social {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body .pageHolder .bottomContent .col4 .social div {
            display: flex; }
          body .pageHolder .bottomContent .col4 .social a {
            text-decoration: none; }

/*# sourceMappingURL=style.css.map */
